.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px 5px 15px 5px; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-header {
  padding: 15px 5px 15px 5px;
  height: 50;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
}

.cart {
  display: flex;
  flex: 0.1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;

}

.number {
  position: relative;
  right: -15px;
  top: -20px;
  background-color: blue;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo {
  animation: App-logo-spin 6s infinite;
  height: 40px;
}